@use "../../../../styles/global.scss" as *;
@use "../../../../styles/partials/typography" as *;
@use "../../../../styles/partials/utilities" as *;
@use "../../../../styles/partials/mixins" as *;

.product {
  background: #151412;
  padding: 10rem 1rem 4rem 1rem;
  //   height: 100vh;

  &__main-img-cont {
    width: 50%;
    margin: 0 auto;
  }

  &__main-img-img {
    width: 100%;
    border-radius: 5px;
  }

  &__title {
    font-family: "marcellus", sans-serif;
    color: #c7a17a;
    margin: 1rem 0;
    font-size: 2rem;
  }

  &__price {
    font-family: "nunito sans", sans-serif;
    color: #fff;
    font-size: 1.75rem;
  }

  &__description {
    font-family: "nunito sans", sans-serif;
    color: #fff;
    margin: 1rem 0;
    line-height: 25px;
  }

  &__add-to-cart {
    font-family: "nunito sans";
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem 0;
    text-align: center;
    background: none;
    background: #c7a17a;
    border: none;
    color: #fff;
    transition: 0.25s ease-in;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background: #151412;
      color: #fff;
    }
  }

  &__details {
    color: #fff;
    font-family: "nunito sans", sans-serif;

    &-item {
      line-height: 30px;
    }
    &--bold {
      font-weight: 700;
    }
  }

  &__expanded {
    &-info {
      width: 100%;
      border: 1px solid #fff;
      color: #fff;
      margin-top: 1rem;
    }

    &--bold {
      font-weight: 700;
      line-height: 40px;
    }

    &-desc,
    &-more {
      padding: 1.25rem;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 600;
      background: #c7a17a;

      &:focus,
      &:hover {
        background: #c7a17a;
      }

      &-closed {
        padding: 1.25rem;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        background: rgb(40, 40, 40);

        &:focus,
        &:hover {
          background: #c7a17a;
        }
      }
    }

    &-desc-info,
    &-more-info {
      transition: 0.25s ease-in;
      padding: 1rem;
      height: 100%;
      width: 100%;
      opacity: 1;

      &-closed {
        transition: 0.25s ease-in;
        height: 0;
        visibility: hidden;
        opacity: 0;
        width: 100%;
      }
    }

    &-desc-inner,
    &-more-info-inner {
      &--closed {
        // opacity: 0;
        display: none;
        // transition: 0.1s ease-in;
      }
    }
  }

  @include tablet {
    padding: 10rem 3rem 5rem 3rem;

    &__main-img-cont {
      display: flex;
      justify-content: center;
    }
    &__main-img-img {
      width: 100%;
      margin: 0 auto;
    }
  }

  @include desktop {
    display: flex;
    justify-content: center;
    padding: 10rem 10rem 8rem 10rem;

    &__title {
      margin-top: 0;
    }

    &__main-img-img {
      width: 70%;
      height: 625px;
    }

    &__right {
      width: 50%;
    }

    // &__expanded-info {
    //   height: 265px;
    // }
  }
}
