@use "../../../../styles/global.scss" as *;

.comments {
  margin-top: 2rem;
  &__header {
    font-size: 2rem;
  }

  &__comment {
    display: flex;
    margin: 1rem 0;

    &-img {
      margin-right: 1rem;
      &-pic {
        border-radius: 50%;
      }
    }

    &-name {
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-date {
      font-weight: 600;
      margin: 0.25rem 0 1rem 0;
    }

    &-hr {
      background: #c7a17a;
      border: 1px solid #c7a17a;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}
