@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  //   background: url("../../Data/imgs/brooke-cagle-8jp-6SjVibM-unsplash.jpg")
  //     center / cover no-repeat;
  z-index: 0;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
  }
  //   &__slider {
  //     width: 99vw;
  //   }
  //   &__bg-1 {
  //     height: 100vh;
  //     overflow: hidden;
  //   }

  &__main-text {
    display: flex;
    position: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10;
    font-size: 3rem;
    line-height: 3.2rem;
  }

  &__sub-text {
    text-align: center;
    color: #fff;
    display: flex;
    position: inherit;
    z-index: 10;
    margin: 0 1rem;
    padding: 1.5rem 0;
  }

  &__btn {
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 1rem 1rem;
    background: none;
    width: 70%;
    color: #fff;
    z-index: 10;
    font-size: 1.5rem;
  }
}
