@use "../../../styles/global.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/utilities" as *;
@use "../../../styles/partials/mixins" as *;

.homepage-blog {
  background: #151412;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "nunito sans";
  z-index: 10;

  &__header {
    font-family: "Marcellus", serif;
    text-align: center;
    position: relative;
    z-index: 22;
    font-size: 2.5rem;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__item {
    z-index: 22;
    margin: 0 1rem;
    margin-bottom: 3rem;

    &-img {
      width: 100%;
    }

    &-img-pic {
      width: 100%;
    }

    &-title {
      color: #fff;
      margin: 2rem 0;
      font-size: 2.25rem;
      line-height: 35px;
    }

    &-desc {
      color: #fff;
      line-height: 1.5rem;
    }
  }

  &__btn {
    margin-top: 1rem;
    background: none;
    border: none;
    color: #c7a17a;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    background: none;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    padding: 0.5rem 0.5rem 0.5rem 0;
    transition: 0.25s ease-in;
    font-weight: 600;

    &:hover {
      transition: 0.25s ease-in;
      border-top: 1px solid rgba(225, 255, 255, 1);
      border-bottom: 1px solid rgba(225, 255, 255, 1);
      background: none;
    }
  }

  @include tablet {
    flex-direction: row;
    justify-content: center;
    padding: 0 4rem;

    &__item {
      width: 30%;
    }
  }
}
