@use "../../../styles/global.scss" as *;

.carousel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: hidden;
  height: 100vh;

  margin-top: 7rem;
  z-index: 0;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  &__main-container {
    display: flex;
    z-index: 10;
    // width: 100vw;
    height: 100vh;
    // min-width: 100%;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    overflow: hidden;
  }

  &__text-container {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    z-index: 10;
    width: 100vw;
  }

  &__main-text-0,
  &__main-text-1,
  &__main-text-2 {
    display: flex;
    position: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10;
    font-size: 3rem;
    line-height: 3.2rem;
    // opacity: 0;
    // animation: 1s fadeleft 0.25s forwards;

    // @keyframes fadeleft {
    //   0% {
    //     opacity: 0;
    //     translate: 100vw;
    //   }
    //   100% {
    //     opacity: 1;
    //     translate: 0vw;
    //   }
    // }
  }

  // &__main-text-2 {
  //   animation: 1s fadeleft 4s forwards;

  //   @keyframes fadeleft {
  //     0% {
  //       opacity: 0;
  //       translate: 100%;
  //     }
  //     100% {
  //       opacity: 1;
  //       translate: -95%;
  //     }
  //   }
  // }

  &__sub-text {
    text-align: center;
    color: #fff;
    display: flex;
    position: inherit;
    z-index: 10;
    margin: 0 1rem;
    padding: 1.5rem 0;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 1rem 1rem;
    background: #fff;
    width: 70%;
    color: #30271c;
    z-index: 10;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
      background: #c7a17a;
      color: #fff;
      z-index: 10;
    }
  }
}
