@use "../../../styles/global.scss" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/utilities" as *;
@use "../../../styles/partials/mixins" as *;

.video {
  position: relative;
  height: 700px;
  font-family: "nunito sans";

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 5;
  }
  &__player {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    color: #fff;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 1rem;

    &-top {
      font-size: 1.75rem;
      font-style: italic;
      font-family: "marcellus", serif;
      padding-bottom: 1rem;
      word-spacing: 3px;
    }

    &-mid {
      font-size: 2.5rem;
      padding-bottom: 1rem;

      font-weight: bold;
    }

    &-hr {
      width: 45%;
      background: #c7a17a;
      border: 1px solid #c7a17a;
    }

    &-bottom {
      padding-top: 1rem;
      font-size: 1.25rem;
      width: 100%;
    }
  }

  &__img-cont-mobi {
    margin-bottom: -2rem;
    height: 45%;
    display: flex;
    justify-content: center;
  }

  &__img-mobi {
    height: 300px;
  }

  &__img-cont {
    display: none;
  }

  &__img {
    height: 200px;
  }

  @include tablet {
    position: relative;
    height: 70vh;

    &__text {
      padding-left: 4rem;
    }

    &__text,
    &__img-cont {
      width: 50%;
    }

    &__img-cont-mobi {
      display: none;
    }

    &__img-cont {
      position: relative;
      z-index: 22;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text-bottom {
      width: 100%;
    }

    &__container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      padding: 0 4rem;
      z-index: 22;
      justify-content: flex-end;
    }

    &__img {
      height: 70%;
      // width: 100%;
      // left: 10%;
      // top: 20%;
    }
  }

  @include desktop {
    // &__container {
    //   padding: 0 20rem;
    // }

    &__text {
      padding-left: 12rem;
    }

    &__img-cont {
      width: 50%;
    }

    &__img {
      height: 80%;
    }
  }
}
