@use "../../../../styles/global.scss" as *;
@use "../../../../styles/partials/typography" as *;
@use "../../../../styles/partials/utilities" as *;
@use "../../../../styles/partials/mixins" as *;

.related {
  margin-bottom: 2rem;

  &__item,
  &__Link {
    display: flex;
    width: 100%;
    max-height: 200px;

    margin: 1rem 0;
    // color: #000;

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &__header {
    font-family: "marcellus", serif;
    margin-bottom: 1rem;
    color: #c7a17a;
  }
  &__img-cont {
    width: 60%;
    min-height: 100px;
    max-height: 100px;
    max-width: 175px;
  }

  &__item-img {
    width: 100%;
    height: 100%;
  }

  &__info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    &-title-header {
      color: #c7a17a;
    }

    &-desc {
      margin-top: auto;
      padding-bottom: 0.25rem;
      line-height: 20px;
    }
  }

  &__categories-header,
  &__tags-header {
    font-family: "marcellus", serif;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #c7a17a;
  }
  &__list {
    list-style-type: none;
    font-family: "nunito sans";

    // &-item: rem 0;
    // }
  }

  &__tags {
    font-family: "nunito sans";
  }

  @include tablet {
    margin-left: 3rem;

    &__header {
      margin-bottom: 1rem;
    }

    &__img-cont {
      width: 50%;
    }

    &__info {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;

      &-desc {
        padding-bottom: 0.25rem;
        line-height: 20px;
        margin-top: 0;
      }

      &-title-header {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
    }
    &__list-item {
      margin: 0.5rem 0;
    }

    &__tags {
      width: 60%;
    }
  }

  @include desktop {
    margin-top: 7rem;

    &__img-cont {
      width: 50%;
    }

    &__header {
      font-size: 2rem;
      //   margin-top: -0.75rem;
      margin-bottom: 2rem;
    }
  }
}
